body{
  margin: 0px;
  overflow-x: hidden;
}
@font-face {
    font-family: nasa;
    src: url("fonts/nasa.ttf");
}
@font-face {
    font-family: iglesia;
    src: url("fonts/fonts/moderna.ttf");
}
.divBox{
  height:100vh;
  width: 100vw;
  position: relative;
  text-align: center;
  margin: 0px auto;
}
.itm1:hover, .itm2:hover{
  cursor: pointer;
  border: 0px solid white;
  background-color: rgba(255,255,255,.5);
  color: black;
}

#container-1{
  position: relative;
  margin: 0px auto;
  text-align: center;
  top: 20vh;
  transform: translateY(-20%);
  color: white;
  left: -5vw;
}
.itm1,.itm2{
  position: relative;
  display:inline-block;
  width: 25vw;
  font-size: 5vw;
  border-bottom: .2vh solid white;
  font-family: iglesia;
  transition: color 2s ease-in, background-color 2s ease-out, border 3s ease-in;
}
.itm2{
  left: 10vw;
}
#container-2{
  position: relative;
  margin: 0px auto;
  text-align: center;
  top: 30vh;
  transform: translateY(-20%);
  color: white;
  left: -5vw;
}

#div1{


  background: url("back,png") no-repeat center center fixed;
  -webkit-background-size: 100vw 100vh;
  -moz-background-size: 100vw 100vh;
  -o-background-size: 100vw 100vh;
  background-size: 100vw 100vh;
  vertical-align: middle;

}
#div1 p{
  position: relative;
  font-family: nasa;
  margin: 0px auto;
  font-size: 5vw;
  top: 35px;
  color: black;
}
#div2{
  background: url("010.jpg") no-repeat center center fixed;
  -webkit-background-size: 100vw 100vh;
  -moz-background-size: 100vw 100vh;
  -o-background-size: 100vw 100vh;
  background-size: 100vw 100vh;
}
#p-2-1{
  position: relative;
  margin: 0px auto;
  color: black;
  font-size: 7vh;
  font-family: iglesia;
  display: inline-block;
  float: left;
  opacity: .7;

}
@media screen and (max-width: 600px) {
    #div1 p {
        font-size: 9vw;
    }
    #container-1{
      top: 35vh;
    }
    #container-2{
      top: 50vh;
    }
    .itm1,.itm2{
      width: 35vw;
      font-size: 7vw;
    }
}
@media screen and (max-height: 329px) {
  #div1 p{
    top: 15px;
  }
  #container-1{
    top: 10vh;
  }
  #container-2{
    top: 35vh;
  }
  .itm1,.itm2{
    width: 35vw;
    font-size: 4vw;
  }
}
@media screen and (max-height: 500px) and (min-height: 330px){
  #div1 p{
    top: 10px;
  }
  #container-1{
    top: 10vh;
  }
  #container-2{
    top: 25vh;
  }
  .itm1,.itm2{
    width: 35vw;
    font-size: 5vw;
  }
}
