body{
  margin: 0px;
  overflow-x: hidden;
}
@font-face {
    font-family: nasa;
    src: url("fonts/nasa.ttf");
}
@font-face {
    font-family: iglesia;
    src: url("fonts/fonts/moderna.ttf");
}
.divBox{
  height:100vh;
  width: 100vw;
  position: relative;
  text-align: center;
  margin: 0px auto;
}
.itm1:hover, .itm2:hover{
  cursor: pointer;
  border: 0px solid white;
  background-color: rgba(255,255,255,.5);
  color: black;
}

#container-1{
  position: relative;
  margin: 0px auto;
  text-align: center;
  top: 20vh;
  transform: translateY(-20%);
  color: white;
  left: -5vw;
}
.itm1,.itm2{
  position: relative;
  display:inline-block;
  width: 25vw;
  font-size: 5vw;
  border-bottom: .2vh solid white;
  font-family: iglesia;
  transition: color 3s, background-color 4s, border 3s;
}
.itm2{
  left: 10vw;
}
#container-2{
  position: relative;
  margin: 0px auto;
  text-align: center;
  top: 35vh;
  transform: translateY(-20%);
  color: white;
  left: -5vw;
}

#div1{


  background: url("3.jpg") no-repeat center center fixed;
  -webkit-background-size: 100vw 100vh;
  -moz-background-size: 100vw 100vh;
  -o-background-size: 100vw 100vh;
  background-size: 100vw 100vh;
  vertical-align: middle;

}
#div1 p{
  position: relative;
  font-family: nasa;
  margin: 0px auto;
  font-size: 5vw;
  top: 50px;
  color: black;
}
#div2{
  background: url("11.jpg") no-repeat center center fixed;
  -webkit-background-size: 100vw 100vh;
  -moz-background-size: 100vw 100vh;
  -o-background-size: 100vw 100vh;
  background-size: 100vw 100vh;
}
@media screen and (max-width: 770px) {
    #div1 p {
        font-size: 9vw;
    }
    #container-1{
      top: 35vh;
    }
    #container-2{
      top: 50vh;
    }
    .itm1,.itm2{
      width: 35vw;
      font-size: 7vw;
    }
}
